body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  padding: 20px;
  text-align: center;
}
input {
  padding: 10px;
  width: 300px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}